.button{
    background-color:$blue;
    border:none;
    color:#fff;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

    &:hover{
        background-color: lighten($blue, 5);
    }
}

.button--link{
    background-color: transparent;
    color:#fff;
    &:hover{
        background-color: transparent;
    }

}

.button--secondary{
    background-color: #888;
      &:hover{
        background-color: transparent;
    }
}